:root {
  --pico-font-family: "Figtree", system-ui, sans-serif;
}

[data-tooltip]::before {
  font-size: 0.75rem;
}

main.container {
  max-width: 38rem;
  margin-top: 30vh;
}

.icon-links {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: start;
}

.icon-links a {
  padding: 0.25rem 0.75rem;
}

.icon-links a[role="button"] {
  margin-left: auto;
}