---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/rocket.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Launching soon</title>
    </head>
    <body class="flex min-h-screen flex-col items-center justify-center dark:bg-black cursor-default">
        <img src="rocket.svg" alt="Rocket launch" />
        <h1 class="dark:text-white">Launching soon</h1>
    </body>
</html>
